/********** Template CSS **********/
:root {
	--primary: #014585;
	--secondary: #999999;
	--light: #f2f8fe;
	--dark: #111111;
	--hover: #fbbc05;
}

#btn-back-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	font-size: 17px;
	color: #fff;
	background-color: #014585;
}

#btn-back-to-top:hover {
	color: #fff;
	background-color: #00294f;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	font-weight: 500 !important;
}

/*** Spinner ***/
#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}
.sub-header {
	background-color: #014585;
	color: #fff;
	margin-top: 40px;
	padding: 12.5px 0 0.25px 7.5%;
}
.sub-header p {
	font-size: 26px;
	margin-top: -10px;
}
.caption-header {
	font-size: 30px;
}
.container .form {
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	border: 1px solid #cccccc;
}
.form .input-box {
	width: 100%;
}
.input-box label {
	color: #333;
	margin-top: 5px;
}
.form .input-file {
	width: 100%;
}
.input-file label {
	color: #333;
	margin-top: 5px;
}
.form-label {
	display: inline-block;
}
.form :where(.input-file input) {
	position: relative;
	height: 50px;
	width: 100%;
	outline: none;
	font-size: 0.9rem;
	color: #000;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 13.25px 18.25px;
	cursor: pointer;
}
input[type="file"]::file-selector-button {
	border-radius: 0.3em;
	transition: 1s;
	font-size: 0.9rem;
	color: #fff;
	background-color: #014585;
}
input[type="file"]:hover::file-selector-button {
	background-color: #00294f;
}
.form :where(.input-box input, .select-box) {
	position: relative;
	height: 50px;
	width: 100%;
	outline: none;
	font-size: 1rem;
	color: #000;
	margin-top: 8px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 15px;
}
.input-box input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.file-control {
	display: none;
}
.form :where(.input-box textarea) {
	position: relative;
	outline: none;
	font-size: 1rem;
	color: #333;
	margin-top: 8px;
	border-radius: 6px;
}
.input-box #password:focus {
	color: #333;
}
.input-box textarea:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
	display: flex;
	column-gap: 15px;
}
.gender-box h3 {
	color: #333;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 8px;
}
.address :where(input, .select-box) {
	margin-top: 15px;
}
.select-box select {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	color: #333;
	font-size: 1rem;
}
.form button {
	height: 50px;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 30px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
	background: var(--primary);
	border-radius: 8px;
}
.form button:hover {
	background: #00294f;
}
/*Responsive*/
@media screen and (max-width: 500px) {
	.form .column {
		flex-wrap: wrap;
	}
	.form :where(.gender-option, .gender) {
		row-gap: 15px;
	}
}

.password-wrapper {
	position: relative;
}

.toggle-button {
	display: inline-flex;
	position: absolute;
	top: 71%;
	transform: translateY(-50%);
	left: unset;
	right: 16px;
	cursor: pointer;
}

.eye-icon {
	width: 20px;
	height: 20px;
}

/*** Button ***/
.btn {
	font-weight: 500;
	transition: 0.5s;
}

.btn.btn-primary {
	color: #ffffff;
}

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
	top: -100px;
	transition: 0.5s;
}

.navbar .navbar-brand {
	height: 75px;
}

.navbar .navbar-brand h2 {
	font-size: 20px;
}

.navbar .navbar-nav .nav-link {
	margin-right: 30px;
	padding: 25px 0;
	color: var(--dark);
	font-weight: 500;
	outline: none;
	font-size: 15px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
	color: var(--primary);
}

.navbar .dropdown-toggle::after {
	border: none;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	vertical-align: middle;
	margin-left: 8px;
}

.navbar .dropdown-item {
	font-size: 14.5px;
}

@media (max-width: 991.98px) {
	.navbar .navbar-nav .nav-link {
		margin-right: 0;
		padding: 10px 0;
	}

	.navbar .navbar-nav {
		border-top: 1px solid #eeeeee;
	}
}

@media (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: block;
		border: none;
		margin-top: 0;
		top: 150%;
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
	}

	.navbar .nav-item:hover .dropdown-menu {
		top: 100%;
		visibility: visible;
		transition: 0.5s;
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.navbar .navbar-brand h2 {
		font-size: 16px;
	}
}

/*** Header ***/
.hero-header .breadcrumb-item + .breadcrumb-item::before {
	color: var(--secondary);
}

/*** Service ***/
.service-item {
	position: relative;
	overflow: hidden;
}

.service-item::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: -80px;
	right: -80px;
	border: 80px solid;
	transform: rotate(45deg);
	opacity: 1;
	transition: 0.5s;
}

.service-item.bg-white::after {
	border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
	border-color: transparent transparent #ffffff transparent;
}

.service-item:hover::after {
	opacity: 0;
}

/*** Roadmap ***/
.roadmap-carousel {
	position: relative;
}

.roadmap-carousel::before {
	position: absolute;
	content: "";
	height: 0;
	width: 100%;
	top: 20px;
	left: 0;
	border-top: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 6px;
	left: 50%;
	margin-left: -15px;
	background: #ffffff;
	border: 2px solid var(--primary);
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
	display: block;
	width: 18px;
	height: 18px;
	background: var(--primary);
}

.roadmap-carousel .roadmap-item {
	position: relative;
	padding-top: 150px;
	text-align: center;
}

.roadmap-carousel .roadmap-item::before {
	position: absolute;
	content: "";
	width: 0;
	height: 115px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	top: 111px;
	left: 50%;
	margin-left: -7px;
	transform: rotate(45deg);
	background: var(--primary);
}

.roadmap-carousel .owl-nav {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
	margin: 0 12px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	font-size: 22px;
	color: var(--light);
	background: var(--primary);
	transition: 0.5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
	color: var(--light);
	background: #00294f;
}

.gallery-btn {
	border: 1.5px solid #014585;
	color: #014585;
}

.gallery-btn:hover {
	background-color: #014585;
	color: #fff;
}

.btn-active {
	background-color: #014585;
	color: #fff;
}

.product-item {
	border: 1px solid #cccccc;
	position: relative;
}

.product-img:hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
}

/*** FAQs ***/
.accordion .accordion-item {
	border: none;
	margin-bottom: 15px;
}

.accordion .accordion-button {
	background: var(--light);
	border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
	color: #ffffff;
	background: var(--primary);
	box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
	padding: 20px 0 20px 20px;
	background: #f2f2f2;
	color: #000;
	border-radius: 2px;
}

/*** Footer ***/
.footer .btn.btn-link {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	color: var(--dark);
	font-weight: normal;
	text-transform: capitalize;
	transition: 0.3s;
}

.footer .btn.btn-link::before {
	position: relative;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: var(--secondary);
	margin-right: 10px;
}

.footer .btn.btn-link:hover {
	color: var(--primary);
	letter-spacing: 1px;
	box-shadow: none;
}

.footer .facebook {
	color: var(--primary);
	border: 1px solid var(--primary);
}

.footer .facebook:hover {
	color: #ffffff;
	background: var(--primary);
}

.footer .twitter {
	color: #1da1f2;
	border: 1px solid #1da1f2;
}

.footer .twitter:hover {
	color: #ffffff;
	background: #1da1f2;
}

.footer .instagram {
	color: #c32aa3;
	border: 1px solid #c32aa3;
}

.footer .instagram:hover {
	color: #ffffff;
	background: #c32aa3;
}

.footer .youtube {
	color: #ff0000;
	border: 1px solid #ff0000;
}

.footer .youtube:hover {
	color: #ffffff;
	background: #ff0000;
}

.footer .copyright {
	padding: 15px 0;
	border-top: 1px solid rgba(17, 17, 17, 0.1);
}

.footer .copyright a {
	color: var(--primary);
	transition: all 0.3s ease 0s;
}

.footer .copyright a:hover {
	color: var(--hover);
	transition: all 0.3s ease 0s;
}

.about-img img {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.about-content-1 span {
	display: block;
	margin-left: 30px;
	line-height: 30px;
}

.about-content-2 span {
	display: block;
	margin-bottom: 40px;
	margin-left: 30px;
	line-height: 30px;
}

/* Cards */
.preview-card {
	position: relative;
	margin: 15px;
	background: #fff;
	box-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
	padding: 30px 25px 30px;
	border-radius: 25px;
	transition: all 0.3s;
}
@media screen and (max-width: 992px) {
	.preview-card {
		height: auto;
	}
}
@media screen and (max-width: 768px) {
	.preview-card {
		min-height: 500px;
		height: auto;
		margin: 120px auto;
	}
}
@media screen and (max-height: 500px) and (min-width: 992px) {
	.preview-card {
		height: auto;
	}
}
.preview-card__item {
	display: flex;
	align-items: center;
}
@media screen and (max-width: 768px) {
	.preview-card__item {
		flex-direction: column;
	}
}
.preview-card__item.swiper-slide-active .blog-slider__img img {
	opacity: 1;
	transition-delay: 0.3s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > * {
	opacity: 1;
	transform: none;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
	transition-delay: 0.3s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
	transition-delay: 0.4s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
	transition-delay: 0.5s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
	transition-delay: 0.6s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
	transition-delay: 0.7s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
	transition-delay: 0.8s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
	transition-delay: 0.9s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
	transition-delay: 1s;
}
.preview-card__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
	transition-delay: 1.1s;
}
.preview-card__item.swiper-slide-active
	.blog-slider__content
	> *:nth-child(10) {
	transition-delay: 1.2s;
}
.preview-card__item.swiper-slide-active
	.blog-slider__content
	> *:nth-child(11) {
	transition-delay: 1.3s;
}
.preview-card__item.swiper-slide-active
	.blog-slider__content
	> *:nth-child(12) {
	transition-delay: 1.4s;
}
.preview-card__item.swiper-slide-active
	.blog-slider__content
	> *:nth-child(13) {
	transition-delay: 1.5s;
}
.preview-card__item.swiper-slide-active
	.blog-slider__content
	> *:nth-child(14) {
	transition-delay: 1.6s;
}
.preview-card__item.swiper-slide-active
	.blog-slider__content
	> *:nth-child(15) {
	transition-delay: 1.7s;
}
.preview-card__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	box-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
}
.preview-card__img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	opacity: 0.4;
}
.preview-card__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 1;
	border-radius: 20px;
	transition: all 0.3s;
}
@media screen and (max-width: 768px) {
	.preview-card__img {
		transform: translateY(-50%);
		width: 90%;
	}
}
@media screen and (max-width: 576px) {
	.preview-card__img {
		width: 95%;
	}
}
@media screen and (max-height: 500px) and (min-width: 992px) {
	.preview-card__img {
		height: 270px;
	}
}
.preview-card__content {
	padding-right: 25px;
}
@media screen and (max-width: 768px) {
	.preview-card__content {
		margin-top: -80px;
		text-align: center;
		padding: 0 30px;
	}
}
@media screen and (max-width: 576px) {
	.preview-card__content {
		padding: 0;
	}
}
.preview-card__content > * {
	transform: translateY(25px);
	transition: all 0.4s;
}
.preview-card__code {
	color: #7b7992;
	display: inline-block;
	font-weight: 500;
	margin-top: 15px;
	font-size: 15px;
}
.preview-card__title {
	font-size: 24px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;
}
.preview-card__text {
	color: #4e4a67;
	margin-bottom: 30px;
	line-height: 1.5em;
}
.preview-card__button {
	display: inline-flex;
	padding: 12.5px 17.5px;
	margin-bottom: 30px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.5px;
	background-color: #014585;
	float: right;
}
.preview-card__button:hover {
	background-color: #00294f;
	color: #fff;
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.preview-card__button {
		width: 50%;
		float: none;
	}
	.preview-card__code {
		margin: 0 0 15px 0;
	}
}

.artikel-card {
	position: relative;
	width: 50rem;
}

.artikel-card img {
	width: 100%;
	height: 20rem;
}

.artikel-card .card-text {
	position: relative;
	color: #000;
	font-size: 0.95rem;
	margin: 20px 0 20px 0;
}

@media screen and (max-width: 768px) {
	.artikel-card {
		position: relative;
		width: 100%;
	}
}

.contact-info {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.contact-info-icon {
	margin-bottom: 15px;
}
.contact-info-item {
	background-color: #01458508;
	padding: 10px 0px;
	margin-bottom: 25px;
}

#mail {
	margin-bottom: 25px;
}
.contact-page-sec .contact-page-form h2 {
	color: #071c34;
	text-transform: capitalize;
	font-size: 22px;
	font-weight: 700;
}
.contact-page-form.contact-form input {
	margin-bottom: 5px;
}
.contact-page-form.contact-form textarea {
	height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
	background: #071c34;
	width: 150px;
}
.contact-info-icon i {
	font-size: 42px;
	color: #014585;
}
.contact-info-text p {
	margin-bottom: 0px;
}
.contact-info-text h2 {
	color: #014585;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 14px;
}
.contact-info-text span {
	color: #999999;
	font-size: 16px;
	display: inline-block;
	width: 100%;
}

.contact-page-form input {
	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #464646;
	border-radius: 2.5px;
	margin-bottom: 18px;
	padding: 8px 16px;
	width: 100%;
}

.contact-page-form .message-input {
	display: inline-block;
	width: 100%;
}
.single-input-field textarea {
	background: #f9f9f9 none repeat scroll 0 0;
	border: 1px solid #464646;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border-radius: 2.5px;
}
.single-input-fieldsbtn input[type="submit"] {
	background: #014585 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	padding: 8px 0;
	text-transform: capitalize;
	width: 100px;
	margin-top: 15px;
	font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover {
	background: #00294f;
	transition: all 0.4s ease-in-out 0s;
}
.single-input-field h4 {
	color: #464646;
	text-transform: capitalize;
	font-size: 14px;
}
.contact-page-form {
	display: inline-block;
	width: 100%;
	background-color: #01458508;
}
.contact-page-form form {
	padding: 20px 15px 0;
}

.tujuan li {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1em;
}

.tujuan li i {
	margin-right: 8px;
	margin-top: 4px;
}
